<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="messageSenderService" lifestyle="Transient"
               service ="IocCommon.IMessageSender,IocCommon"
               type ="IocExample.MessageSender, IocExample">
    </component>
  </components>
</configuration>
